a(data-action="goto" href="/restore")
    i.fas.fa-arrow-left
h3 Index
if results !== undifined
    each result in results
        article.card.persona 
            .card-info
                div.info
                    h4.card-title #{result.nombre+ ' ' +result.apellido}
                    h5 ID: #{result.id}
                    h5 Email: #{result.email}
                div.actions
                    a(data-action="goto" href='/persona/'+result.id)
                        i.fas.fa-arrow-right

    else
        span.msg.sorry No se han encontrado usuarios que correspondan a su busqueda.