
div.actions.column
    a(data-action="goto" href='/persona/new')
        span
            i.fas.fa-plus 
        span Agregar persona

    a(data-action="goto" href='/persona/index')
        span
            i.fas.fa-list 
        span Ver personas
