form(action="/persona/new" method="post")
    label(for="nombre") nombre
    input(type="text" name="nombre")

    label(for="apellido") apellido
    input(type="text" name="apellido")

    label(for="email") email
    input(type="email" name="email")

    button(type="submit") Crear