form(action="/personas/new" method="post")
    label(for="nombre")
    input(type="text" name="nombre" value=+inputs.old.nombre ? inputs.old.nombre : '')

    label(for="apellido")
    input(type="text" name="apellido" value=+inputs.old.apellido ? inputs.old.apellido : '')

    label(for="email")
    input(type="email" name="email" value=+inputs.old.email ? inputs.old.email : '')

    button(type="submit") Crear